@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}

@media (min-width: 640px) {
  /* For small devices (tablets and up), adjust container styling */
  .your-container {
    height: 200px; /* Default height for medium devices */
    overflow-y: auto;
  }

  .update-todo {
    height: 70vh; /* Responsive height for tablets and small devices */
    overflow-y: auto;
  }

  .your-container::-webkit-scrollbar {
    width: 5px; /* Adjust width */
  }

  .update-todo::-webkit-scrollbar {
    width: 5px; /* Adjust width */
  }

  .your-container::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
    margin-left: 10px;
    border-radius: 2px;
  }

  .update-todo::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 4px;
  }

  .your-container::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  }
  .update-todo::-webkit-scrollbar-thumb {
    background: rgba(133, 136, 195, 0.2);
    border-radius: 4px;
  }

  .your-container::-webkit-scrollbar-thumb:hover,
  .update-todo::-webkit-scrollbar-thumb:hover {
    background-color: #357abd;
  }
}

@media (min-width: 768px) {
  /* For medium devices (larger tablets, small laptops) */
  .your-container {
    height: 370px; /* Increase height for larger screens */
  }
  .update-todo {
    height: 60vh; /* Adjust height for larger tablets */
  }
}

@media (max-width: 639px) {
  /* For extra small screens (phones) */
  .your-container {
    height: 400px; /* Smaller height on mobile screens */
    overflow-y: scroll; /* Ensure scrolling works on mobile */
  }

  .update-todo {
    height: 50vh; /* Take up most of the viewport height on phones */
    overflow-y: scroll;
    min-width: 20rem; /* Adjust to a suitable width for better readability */
  }
}

body {
  background-image: url("../public/city-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.backgroundImg {
  background-image: url("../public/Img03.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
